<%#
# This file is part of the OpenWISP Captive Portal Manager
#
# Copyright (C) 2011 CASPUR (wifi@caspur.it)
#
# This software is licensed under a Creative  Commons Attribution-NonCommercial
# 3.0 Unported License.
#   http://creativecommons.org/licenses/by-nc/3.0/
#
# Please refer to the  README.license  or contact the copyright holder (CASPUR)
# for licensing details.
#
#%>

<div class="grid_16">
  <div class="box">
    <h2>
      <a href="#" id="toggle-editing_allowed_traffic"><%=t :editing_allowed_traffic %></a>
    </h2>
    <ul class="nav main">
      <li>
        <%= link_to t(:allowed_traffic), '#' %>
        <ul>
          <li>
            <%= link_to t(:show), captive_portal_allowed_traffic_path(@captive_portal, @allowed_traffic) %> 
          </li>
        </ul>
      </li>
      <li>
        <%= link_to t(:back), captive_portal_allowed_traffics_path(@captive_portal) %>
      </li>
    </ul>

    <div class="block" id="editing_allowed_traffic">

      <%= render 'form' %>

    </div>
  </div>
</div>
<div class="clear"></div>


