<%#
# This file is part of the OpenWISP Captive Portal Manager
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<div class="grid_16">
  <div class="box">
    <h2>
      <a href="#" id="toggle-listing_allowed_traffics"><%=t :listing_allowed_traffics %></a>
    </h2>
    <ul class="nav main">
      <li>
        <%= link_to t(:allowed_traffics), '#' %>
        <ul>
          <li>
            <%= link_to t(:new), new_captive_portal_allowed_traffic_path(@captive_portal)  %>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to t(:back), captive_portal_path(@captive_portal) %>
      </li>
    </ul>

    <div class="block" id="listing_allowed_traffics">

      <table>
        <thead>
        <tr>
          <th><%=t :actions %></th>
          <th><%=t :protocol %></th>
          <th><%=t :source_mac_address %></th>
          <th><%=t :source_host %></th>
          <th><%=t :source_port %></th>
          <th><%=t :destination_host %></th>
          <th><%=t :destination_port %></th>
        </tr>
        </thead>
        <tbody>
        <% @allowed_traffics.each do |allowed_traffic| %>
            <tr class="<%= cycle("even", "odd") -%>">
              <td>
                <%=
                    link_to image_tag("show.png", :border => 0, :size => "16x16", :alt => t(:show)),
                            captive_portal_allowed_traffic_path(@captive_portal, allowed_traffic)
                %>
                <%=
                    link_to image_tag("edit.png", :border => 0, :size => "16x16", :alt => t(:edit)),
                            edit_captive_portal_allowed_traffic_path(@captive_portal, allowed_traffic)
                %>
                <%=
                    link_to image_tag("delete.png", :border => 0, :size => "16x16", :alt => t(:destroy)),
                            captive_portal_allowed_traffic_path(@captive_portal, allowed_traffic),
                            :confirm => t(:are_you_sure), :method => :delete
                %>
              </td>
              <td><%=h allowed_traffic.protocol %></td>
              <td><%=h allowed_traffic.source_mac_address %></td>
              <td><%=h allowed_traffic.source_host %></td>
              <td><%=h allowed_traffic.source_port %></td>
              <td><%=h allowed_traffic.destination_host %></td>
              <td><%=h allowed_traffic.destination_port %></td>
            </tr>
        <% end %>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
      
    </div>
  </div>
</div>
<div class="clear"></div>