<%#
# This file is part of the OpenWISP Captive Portal Manager
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<div class="grid_16">
  <div class="box">
    <h2>
      <a href="#" id="toggle-show_captive_portals"><%=t :allowed_traffics %></a>
    </h2>
    <ul class="nav main">
      <li>
        <%= link_to t(:allowed_traffics), '#' %>
        <ul>
          <li>
            <%= link_to t(:edit), edit_captive_portal_allowed_traffic_path(@captive_portal, @allowed_traffic) %>
          </li>
          <li>
            <%= link_to t(:destroy), captive_portal_allowed_traffic_path(@captive_portal, @allowed_traffic), :confirm => t(:are_you_sure), :method => :delete %>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to t(:back), captive_portal_allowed_traffics_path(@captive_portal) %>
      </li>
    </ul>

    <div class="block" id="show_captive_portals">

      <p class="meta" id="notice"><%= notice %>&nbsp;</p>

      <table>
        <tbody>
        <tr class="<%= cycle("even", "odd") -%>">
          <th><%=t :protocol %></th>
          <td><%=h @allowed_traffic.protocol %></td>
        </tr>
        <tr class="<%= cycle("even", "odd") -%>">
          <th><%=t :source_mac_address %></th>
          <td><%=h @allowed_traffic.source_mac_address %></td>
        </tr>
        <tr class="<%= cycle("even", "odd") -%>">
          <th><%=t :source_host %></th>
          <td><%=h @allowed_traffic.source_host %></td>
        </tr>
        <tr class="<%= cycle("even", "odd") -%>">
          <th><%=t :source_port %></th>
          <td><%=h @allowed_traffic.source_port %></td>
        </tr>
        <tr class="<%= cycle("even", "odd") -%>">
          <th><%=t :destination_host %></th>
          <td><%=h @allowed_traffic.destination_host %></td>
        </tr>
        <tr class="<%= cycle("even", "odd") -%>">
          <th><%=t :destination_port %></th>
          <td><%=h @allowed_traffic.destination_port %></td>
        </tr>
        <tr class="<%= cycle("even", "odd") -%>">
          <th><%=t :note %></th>
          <td><%=h @allowed_traffic.note %></td>
        </tr>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<div class="clear"></div>
