<%#
# This file is part of the OpenWISP Captive Portal Manager
#
# Copyright (C) 2011 CASPUR (wifi@caspur.it)
#
# This software is licensed under a Creative  Commons Attribution-NonCommercial
# 3.0 Unported License.
#   http://creativecommons.org/licenses/by-nc/3.0/
#
# Please refer to the  README.license  or contact the copyright holder (CASPUR)
# for licensing details.
#
#%>

<h1>Please login</h1>

<%= form_tag('/login') do -%>
    <p>
      <%= label_tag 'username', 'Username:' -%><br/>
      <%= text_field_tag 'username' %>
    <p>
      <%= label_tag 'password', 'Password:' -%><br/>
      <%= password_field_tag -%>
    </p>
    <%= hidden_field_tag 'original_url', @original_url  %>
    <%= submit_tag 'Login' -%>
<% end %>
