<div class="grid_12 prefix_2 suffix_2">
  <div class="box">
    <h2>
      <a href="#" id="toggle-editing_captive_portal"><%=t :editing_captive_portal %></a>
    </h2>
    <div class="block" id="editing_captive_portal">

      <p class="meta" id="notice"><%= notice %>&nbsp;</p>

      <%= render 'form' %>

      <p class="meta">
        <%= link_to t(:show), @captive_portal %> | <%= link_to t(:back), :back %>
      </p>
      
    </div>
  </div>
</div>
<div class="clear"></div>
