<%#
# This file is part of the OpenWISP Captive Portal Manager
#
# Copyright (C) 2011 CASPUR (wifi@caspur.it)
#
# This software is licensed under a Creative  Commons Attribution-NonCommercial
# 3.0 Unported License.
#   http://creativecommons.org/licenses/by-nc/3.0/
#
# Please refer to the  README.license  or contact the copyright holder (CASPUR)
# for licensing details.
#
#%>

<div class="grid_16">
  <div class="box">
    <h2>
      <a href="#" id="toggle-show_captive_portal"><%=t :show_captive_portal %></a>
    </h2>
    <ul class="nav main">
      <li>
        <%= link_to t(:captive_portal), '#' %>
        <ul>
          <li>
            <%= link_to t(:edit), edit_captive_portal_path(@captive_portal) %>
          </li>
          <li>
            <%= link_to t(:destroy), captive_portal_path(@captive_portal), :confirm => t(:are_you_sure), :method => :delete %>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to t(:local_users), '#' %>
        <ul>
          <li>
            <%= link_to t(:list), captive_portal_local_users_path(@captive_portal) %>
          </li>
          <li>
            <%= link_to t(:new), new_captive_portal_local_user_path(@captive_portal) %>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to t(:allowed_traffics), '#' %>
        <ul>
          <li>
            <%= link_to t(:list), captive_portal_allowed_traffics_path(@captive_portal) %>
          </li>
          <li>
            <%= link_to t(:new), new_captive_portal_allowed_traffic_path(@captive_portal) %>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to t(:online_users), '#' %>
        <ul>
          <li>
            <%= link_to t(:list), captive_portal_online_users_path(@captive_portal) %>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to t(:back), captive_portals_path %>
      </li>
    </ul>

    <div class="block" id="show_captive_portal">

      <p class="meta" id="notice"><%= notice %>&nbsp;</p>

      <table>
        <tbody>
        <tr class="<%= cycle("even", "odd") -%>">
          <th><%=t :name %></th>
          <td><%=h @captive_portal.name %></td>
        </tr>
        <tr class="<%= cycle("even", "odd") -%>">
          <th><%=t :cp_interface %></th>
          <td><%=h @captive_portal.cp_interface %></td>
        </tr>
        <tr class="<%= cycle("even", "odd") -%>">
          <th><%=t :wan_interface %></th>
          <td><%=h @captive_portal.wan_interface %></td>
        </tr>
        <tr class="<%= cycle("even", "odd") -%>">
          <th><%=t :redirection_url %></th>
          <td><%=h @captive_portal.redirection_url %></td>
        </tr>
        <tr class="<%= cycle("even", "odd") -%>">
          <th><%=t :error_url %></th>
          <td><%=h @captive_portal.error_url %></td>
        </tr>
        <tr class="<%= cycle("even", "odd") -%>">
          <th><%=t :local_http_port %></th>
          <td><%=h @captive_portal.local_http_port %></td>
        </tr>
        <tr class="<%= cycle("even", "odd") -%>">
          <th><%=t :local_https_port %></th>
          <td><%=h @captive_portal.local_https_port %></td>
        </tr>
        <tr class="<%= cycle("even", "odd") -%>">
          <th><%=t :default_session_timeout %></th>
          <td><%=h @captive_portal.default_session_timeout %></td>
        </tr>
        <tr class="<%= cycle("even", "odd") -%>">
          <th><%=t :default_idle_timeout %></th>
          <td><%=h @captive_portal.default_idle_timeout %></td>
        </tr>
        <tr class="<%= cycle("even", "odd") -%>">
          <th><%=t :default_upload_bandwidth %></th>
          <td><%=h @captive_portal.default_upload_bandwidth %></td>
        </tr>
        <tr class="<%= cycle("even", "odd") -%>">
          <th><%=t :default_download_bandwidth %></th>
          <td><%=h @captive_portal.default_download_bandwidth %></td>
        </tr>
        <tr class="<%= cycle("even", "odd") -%>">
          <th><%=t :total_upload_bandwidth %></th>
          <td><%=h @captive_portal.total_upload_bandwidth %></td>
        </tr>
        <tr class="<%= cycle("even", "odd") -%>">
          <th><%=t :total_download_bandwidth %></th>
          <td><%=h @captive_portal.total_download_bandwidth %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="clear"></div>