<div class="grid_12 prefix_2 suffix_2">
  <div class="box">
    <h2>
      <a href="#" id="toggle-editing_local_user"><%=t :editing_local_user %></a>
    </h2>
    <div class="block" id="editing_local_user">

      <p class="meta" id="notice"><%= notice %>&nbsp;</p>

      <%= render 'form' %>

      <p class="meta">
        <%= link_to t(:show), captive_portal_local_user_path(@captive_portal, @local_user) %> |
        <%= link_to t(:back), :back %>
      </p>

    </div>
  </div>
</div>
<div class="clear"></div>
