<%#
# This file is part of the OpenWISP Captive Portal Manager
#
# Copyright (C) 2011 CASPUR (wifi@caspur.it)
#
# This software is licensed under a Creative  Commons Attribution-NonCommercial
# 3.0 Unported License.
#   http://creativecommons.org/licenses/by-nc/3.0/
#
# Please refer to the  README.license  or contact the copyright holder (CASPUR)
# for licensing details.
#
#%>

<div class="grid_16">
  <div class="box">
    <h2>
      <a href="#" id="toggle-new_local_user"><%=t :new_local_user %></a>
    </h2>
    <ul class="nav main">
      <li>
        <%= link_to t(:back), captive_portal_local_users_path(@captive_portal) %>
      </li>
    </ul>

    <div class="block" id="new_local_user">

      <p class="meta" id="notice"><%= notice %>&nbsp;</p>

      <%= render 'form' %>

      <p class="meta">
        <%= link_to t(:back), :back %>
      </p>
      
    </div>
  </div>
</div>
<div class="clear"></div>
