<%#
# This file is part of the OpenWISP Captive Portal Manager
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<div class="grid_16">

  <div class="box">
    <h2>
      <a href="#" id="toggle-show_local_user"><%=t :show_local_user %></a>
    </h2>
    <ul class="nav main">
      <li>
        <%= link_to t(:local_user), '#' %>
        <ul>
          <li>
            <%= link_to t(:edit), edit_captive_portal_local_user_path(@captive_portal, @local_user) %>
          </li>
          <li>
            <%= link_to t(:destroy), captive_portal_local_user_path(@captive_portal, @local_user), :confirm => t(:are_you_sure), :method => :delete %>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to t(:back), captive_portal_local_users_path(@captive_portal) %>
      </li>
    </ul>
    
    <div class="block" id="show_local_user">

      <p class="meta" id="notice"><%= notice %>&nbsp;</p>

      <table>
        <tbody>
        <tr class="<%= cycle("even", "odd") -%>">
          <th><%=t :username %></th>
          <td><%=h @local_user.username %></td>
        </tr>
        <tr class="<%= cycle("even", "odd") -%>">
          <th><%=t :max_upload_bandwidth %></th>
          <td><%=h @local_user.max_upload_bandwidth %></td>
        </tr>
        <tr class="<%= cycle("even", "odd") -%>">
          <th><%=t :max_download_bandwidth %></th>
          <td><%=h @local_user.max_download_bandwidth %></td>
        </tr>
        <tr class="<%= cycle("even", "odd") -%>">
          <th><%=t :disabled %></th>
          <td><%=t @local_user.disabled ? :yes : :no %></td>
        </tr>
        <tr class="<%= cycle("even", "odd") -%>">
          <th><%=t :disabled_message %></th>
          <td><%=h @local_user.disabled_message %></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
<div class="clear"></div>